* {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;

}

body {
    background-color: #242424;
}

.movie {
    background-color: olivedrab;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 50px ;
}

.input-film {
    height: 5px;
    border-radius: 10px;
    background-color: #c1e07d;

}

.add {
    border-radius: 10px;
    margin-left: 10px;
}

h5 {
    border-bottom: black solid 1px;
}

.MovieItem {
    border: 1px black solid;
    border-radius: 10px;
    margin: 5px 0 10px 0;
    max-width: 500px;
    background-color: #82c1c4;
}

.edit {
    margin-left: 50px;
    align-items: flex-end;

}

.delete {
    margin-left: 10px;
    align-items: end;

}
button {
    margin: 0 0 0 auto;
    background-color: #c1e07d;

}

.memes {
    border: 1px solid black;
    border-radius: 10px;
    background-color: gainsboro;
}

img {
    width: 355px;
}